.drinkDetails {
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 25px;
  background-color: maroon;
  margin-top: 30px;
  margin-bottom: 100px;
  overflow: scroll;
}

.drinkDetails img {
  max-width: 250px;
  display: flex;
  padding-bottom: 10px;
}

#drinkName {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  color: white;
}

#drinkImage {
  display: flex;
  justify-content: center;
  color: white;
}

#drinkInt {
  color: white;
}

#drinkIng {
  color: white;
}

#favBtn {
  justify-content: center;
  font-size: 30px;
  padding-bottom: 10px;
}
