.footer {
  font-family: "Righteous", sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(107, 16, 16);
  background-color: black;
  padding: 20px;
  font-stretch: ultra-expanded;
  height: min-content;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-container {
  background: #eee;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: white;
}
