@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.header {
  font-family: "Righteous";

  display: flex;
  justify-content: center;
  color: rgb(107, 16, 16);
  background-color: black;
  font-stretch: ultra-expanded;
  height: min-content;
  width: 100%;
}

#title-text {
  font-size: 60px;
}
